body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #5e78e1;
  font: italic bold 50px Georgia, serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(204, 182, 116);
  ;
}

.App-image {
  width: 300px;
  height: 300px;
  margin-top: 20px;
  border-radius: 10px;
}