@font-face {
  font-family: 'MyCustomFont';
  src: url('/public/assets/fonts/Jackwrite.ttf') format('truetype');
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: url("/public/assets/pictures/texture_background.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: 'MyCustomFont', sans-serif;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(164, 164, 164, 0.8);
  font-size: 2em;
}

.App-image {
  width: 300px;
  height: 300px;
  margin-top: 20px;
  border-radius: 10px;
}

footer {
  margin-top: 200px;
  color: rgba(164, 164, 164, 0.8);
  font-size: 0.6em;
}

.menu-button {
  font-family: 'MyCustomFont', sans-serif;
  background: none;
  border: none;
  color: rgba(164, 164, 164, 0.8);
  font-size: 2em;
  cursor: pointer;
  margin-top: 20px;
  transition: transform 0.3s ease;
}

.menu-button.open {
  transform: rotate(90deg);
}

.App-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  transition: max-height 0.3s ease;
  max-height: 0;
  overflow: hidden;
}

.App-nav.open {
  max-height: 100px;
}

.App-nav a {
  color: rgba(164, 164, 164, 0.8);
  text-decoration: none;
  font-size: 1.5em;
  margin: 0 20px;
  opacity: 0;
  transition: opacity 0.3s ease, opacity 0.3s ease;
}

.App-nav.open a {
  opacity: 1;
  transform: translateY(0);
}

.App-nav a:nth-child(1) {
  transition-delay: 0.1s;
}

.App-nav a:nth-child(2) {
  transition-delay: 0.2s;
}

.App-nav a:nth-child(3) {
  transition-delay: 0.3s;
}

.App-nav a:nth-child(4) {
  transition-delay: 0.4s;
}