@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-1px) translateY(-2px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(1px) translateY(2px);
    }
}

.shake-text {
    display: inline-block;
    font-size: 2em;
    text-shadow: 0px 0px 10px rgba(183, 183, 183, 0.5);
}

.shake-letter {
    display: inline-block;
    animation: shake 9s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
    animation-delay: calc(0.3s * var(--shake-index));
}