header {
    text-align: center;
    padding: 20px;
    color: rgba(164, 164, 164, 0.8);
    font-size: 1em;
}

h2 {
    font-size: 2em;
    text-align: center;
    color: rgba(164, 164, 164, 0.8);
    font-size: 2em;
}

p {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    color: rgba(164, 164, 164, 0.8);
    font-size: 1.7em;
}