@font-face {
    font-family: 'Gyrochrome-Regular';
    src: url('/public/assets/fonts/Gyrochrome-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Gyrochrome-Bold';
    src: url('/public/assets/fonts/Gyrochrome-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'fubbick';
    src: url("/public/assets/fonts/Fubbick.otf") format('opentype');
}

@font-face {
    font-family: 'drunk';
    src: url("/public/assets/fonts/DRUNK.otf") format('opentype');
}

@font-face {
    font-family: 'SmglMedium';
    src: url("/public/assets/fonts/Smgl Medium bold.ttf") format('truetype');
}

.about-container {
    font-family: 'fubbick', sans-serif;
}

.about-container header {
    text-align: center;
    padding: 20px;
    color: rgba(164, 164, 164, 0.8);
    font-size: 1em;
}

.about-container h2 {
    font-size: 2em;
    text-align: center;
    color: rgba(164, 164, 164, 0.8);
}

.about-container p {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    color: rgba(164, 164, 164, 0.8);
    font-size: 1.7em;
}