@font-face {
    font-family: 'fubbick';
    src: url("/public/assets/fonts/Fubbick.otf") format('opentype');
}

@font-face {
    font-family: 'drunk';
    src: url("/public/assets/fonts/DRUNK.otf") format('opentype');
}

@font-face {
    font-family: 'SmglMedium';
    src: url("/public/assets/fonts/Smgl Medium bold.ttf") format('truetype');
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: fubbick, sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1em;
}

.contact-container header {
    text-align: center;
    color: rgba(164, 164, 164, 0.8);
    font-size: 1.5em;
}

.contact-container li {
    list-style-type: none;
    font-size: 1m;
    color: rgba(164, 164, 164, 0.8);
}