.home-container {
    font-family: 'MyCustomFont', sans-serif;
}

.home-container header {
    text-align: center;
    padding: 20px;
    color: rgba(164, 164, 164, 0.8);
    font-size: 1em;
}

.home-container h1 {
    font-size: 2em;
}

.home-container p {
    font-size: 1.7em;
}

.home-container img {
    width: 250px;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
}