@font-face {
    font-family: 'fubbick';
    src: url("/public/assets/fonts/Fubbick.otf") format('opentype');
}

@font-face {
    font-family: 'drunk';
    src: url("/public/assets/fonts/DRUNK.otf") format('opentype');
}

@font-face {
    font-family: 'SmglMedium';
    src: url("/public/assets/fonts/Smgl Medium bold.ttf") format('truetype');
}

@font-face {
    font-family: '90s';
    src: url("/public/assets/fonts/90s-Regular.otf") format('opentype');
}

.home-container {
    font-family: 'fubbick', sans-serif;
    text-align: center;


}

.home-container header {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    color: rgba(164, 164, 164, 0.8);
    font-size: 1em;

}

.home-name h1 {
    font-size: 4em;
    text-shadow: 0px 0px 20px rgba(97, 97, 97, 0.5);
}

.home-container h2 {
    font-size: 2em;
    text-shadow: 0px 0px 10px rgba(90, 90, 90, 0.5);
}

.home-container p {
    font-size: 2.7em;
    text-shadow: 0px 0px 10px rgba(90, 90, 90, 0.5), 10px 10px 3px rgba(99, 99, 99, 0.5), 40px 40px 3px rgba(50, 50, 50, 0.5), 20px 70px 3px rgba(36, 36, 36, 0.5);
    color: rgba(164, 164, 164, 0.8);
}

.home-container img {
    width: 300px;
    height: auto;
    margin-top: 0px;
    border-radius: 5px;
}

@media (max-width: 428px) {
    .home-container img {
        width: 200px;
        height: auto;
        margin-top: 0px;
        border-radius: 5px;
    }

    .home-container p {
        font-size: 1.7em;
        text-shadow: 0px 0px 20px rgba(27, 27, 27, 0.5);

    }

    .home-container h2 {
        font-size: 1em;
        text-shadow: 0px 0px 20px rgba(95, 95, 95, 0.5);
    }
}

@media (max-width: 926px) {
    .home-container img {
        width: 200px;
        height: auto;
        margin-top: 0px;
        border-radius: 10px;
    }

}