@font-face {
    font-family: 'fubbick';
    src: url("/public/assets/fonts/Fubbick.otf") format('opentype');
}

@font-face {
    font-family: 'drunk';
    src: url("/public/assets/fonts/DRUNK.otf") format('opentype');
}

@font-face {
    font-family: 'SmglMedium';
    src: url("/public/assets/fonts/Smgl Medium bold.ttf") format('truetype');
}

.home-container {
    font-family: 'fubbick', sans-serif;
    text-align: center;


}

.home-container header {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    color: rgba(164, 164, 164, 0.8);
    font-size: 1em;

}

.home-name h1 {
    font-size: 4em;
    text-shadow: 0px 0px 20px rgba(131, 131, 131, 0.5);
}

.home-container h2 {
    font-size: 2em;
    text-shadow: 0px 0px 20px rgba(95, 95, 95, 0.5);
}

.home-container p {
    font-size: 2.7em;
    text-shadow: 0px 0px 20px rgba(95, 95, 95, 0.5);
}

.home-container img {
    width: 250px;
    height: auto;
    margin-top: 0px;
    border-radius: 10px;

}

@media screen and (max-width: 428px) {
    .home-container img {
        width: 150px;
        height: auto;
        margin-top: 0px;
        border-radius: 10px;
    }

    .home-container p {
        font-size: 1.7em;
        text-shadow: 0px 0px 20px rgba(95, 95, 95, 0.5);

    }

    .home-container h2 {
        font-size: 1em;
        text-shadow: 0px 0px 20px rgba(95, 95, 95, 0.5);
    }

    .home-footer {
        font-size: 0.6em;
    }
}

@media screen and (max-width: 926px) {
    .home-container img {
        width: 150px;
        height: auto;
        margin-top: 0px;
        border-radius: 10px;
    }

}