@font-face {
    font-family: 'fubbick';
    src: url("/public/assets/fonts/Fubbick.otf") format('opentype');
}

@font-face {
    font-family: 'drunk';
    src: url("/public/assets/fonts/DRUNK.otf") format('opentype');
}

@font-face {
    font-family: 'SmglMedium';
    src: url("/public/assets/fonts/Smgl Medium bold.ttf") format('truetype');
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0px;
    font-family: fubbick, sans-serif;
}

.portfolio-container header {
    text-align: center;
    color: rgba(164, 164, 164, 0.8);
    font-size: 1em;
}

.portfolio-container h1 {
    font-size: 2.5em;
    text-shadow: 0px 0px 20px rgba(33, 33, 33, 0.5);
}

.portfolio-container h2 {
    font-size: 1.5em;
    text-shadow: 0px 0px 10px rgba(90, 90, 90, 0.5);
}

.portfolio-container p {
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
    color: rgba(164, 164, 164, 0.8);
    font-size: 1.7em;
}

.portfolio-container img {
    width: 100%;
    height: auto;
    margin-top: 50px;
    border-radius: 0px;
}