@font-face {
    font-family: 'fubbick';
    src: url("/public/assets/fonts/Fubbick.otf") format('opentype');
}

@font-face {
    font-family: 'drunk';
    src: url("/public/assets/fonts/DRUNK.otf") format('opentype');
}

@font-face {
    font-family: 'SmglMedium';
    src: url("/public/assets/fonts/Smgl Medium bold.ttf") format('truetype');
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    font-family: fubbick, sans-serif;
}

.portfolio-container header {
    text-align: center;
    color: rgba(164, 164, 164, 0.8);
    font-size: 1em;
}