.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    font-family: MyCustomFont, sans-serif;
}

.portfolio-container header {
    text-align: center;
    color: rgba(164, 164, 164, 0.8);
    font-size: 1em;
}